@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(246, 255, 232);
}
.animate-spin {
  animation: spin 5s linear infinite;
}

backdrop-blur-md{
backdrop-filter: blur(8px);
}
